@{
    ViewData["Title"] = "Descargar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">

<head>
    <style>
        .contenedor {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            height: 350px;
            margin: 1em;
            text-align: center;
        }

            .card h2 {
                font-size: 1.5em;
                margin: 1em;
            }
    </style>
</head>

<body>

    <div>
        <h1>Descargas</h1>
        <article>
            <h1>Programas que SAP distribuye</h1>
            <article>
                Explore nuestra completa cartera para encontrar las
                soluciones que necesita para gestionar sus procesos de negocio y su empresa de forma más eficiente.
            </article>
        </article>
    </div>

    <div class="contenedor">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.sap.com/dam/application/shared/logos/sap-logo-svg.svg/sap-logo-svg.svg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://www.sap.com/latinamerica/products/technology-platform/trial.html" class="btn btn-primary">Descargar SAP</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.humanica.com/wp-content/uploads/2023/02/logo-SAP-Business-One.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://www.sap.com/uk/products/erp/business-one.html" class="btn btn-primary">Descargar SAP BO</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://mccsapsolutions.com/wp-content/uploads/2022/10/sap-crystal-reports-logo-1024x521.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://www.sap.com/products/technology-platform/crystal-reports.html" class="btn btn-primary">Descargar Crystal Report</a>
            </div>
        </div>
    </div>

</body>
</html>